header{
    width: display;
    height: 18px;
    padding: 20px 50px;
  
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)  ;
    
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
}
img{
    width:108px;
    height:50px;
    position: relative;
    top: -16px; 
    left: 500px;
}
input{
  position: relative;
  top: -35px;
  left: 900px;
  border-radius: 8px;
  border: 1px solid #4D4C4C;
  opacity: 0.6;
  outline: none;
}
.landing__navegador ul{
    list-style-type: none;
    text-align: center;

    
 }
 .landing__navegador li{
    display: inline;
    text-align: center;
    margin: 100px 60px 0px 0px ;
    position: relative;
    top: -20px;
    

 }
 .landing__navegador li a {
    padding: 2px 7px 2px 7px;
    text-decoration: none;
    color: #4D4C4C;
    font-family: muli;
 }

 .landing__navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
 }
 #thor{
    width:600px;
    height:600px;
    position: relative;
    top: 60px; 
    left: 8px;
 }