*{
  margin: 0px;
}

header{
    width: 100%;
    height: 18px;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)  ;
    
}

.landing{
  width: 100%;
  box-sizing: border-box;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.barra__up{
  width: 100%;
}
.logo{
   width:108px;
   height:50px;
   position: relative;
   top: -16px; 
   left: 500px;
}
.portada__foto-thor{
    width:108px;
    height:50px;
    position: relative;
    top: -16px; 
    left: 500px;
}
input{
  position: relative;
  top: -35px;
  left: 900px;
  border-radius: 8px;
  border: 1px solid #4D4C4C;
  opacity: 0.6;
  outline: none;
}
.barra__navegador{
  /* border-bottom: 1px solid #4D4C4C;*/
   width: 100%;
}
.barra__navegador ul{
    list-style-type: none;
    text-align: center;

    
 }
 .barra__navegador li{
    display: inline;
    text-align: center;
    margin: 100px 60px 0px 0px ;
    position: relative;
    
    

 }
 .barra__navegador li a {
    padding: 2px 7px 2px 7px;
    text-decoration: none;
    color: #4D4C4C;
    font-family: muli;
 }

 .barra__navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
 }
 .landing__portada{
  display: flex;
  justify-content: space-around;

 }
 .portada__foto{
    flex-basis: 58%;
    height: 600px;
 }
 .portada__foto-thor{
    width:600px;
    height:600px;
    position: relative;
    top: 60px; 
    left: 8px;
 }
 
 .portada__info{
    
    flex-basis:35%; 
    align-content: center;
    margin:auto;
    
 }
 .portada__info-titulo{
   color:#A87E12;
   font-size: 90px;
 }
 .portada__info-texto{

 color: #333333;
 font-family: muli;
 }
 .portada__foto-boton{

 }
 .landing__datos{
   display: flex; 
   background-color: rgba(249, 227, 240, 0.7);
   justify-content: space-around;
   height: 200px;
   width: 100%;
   padding: auto;
 }
 .datos__uno{
background-color: #ffffff;
display: flex;
justify-content: space-around;
flex-basis: 30%;
height: 40%;
margin: auto;
border-radius: 50px;
 }
 .datos__uno-img{
    width: 20%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

 }
 .landing__aleja{
   display: flex;
   justify-content: space-around; 
 }
 .aleja__texto{
   flex-basis:35%; 
   align-content: center;
   margin-left:70%;
   
   position: absolute;
 }
 .aleja__texto-titulo{
    color: #CC98A1;
    font-family: Anton Regular;
 }
 .aleja__atras{
   display: flex;
   width: 100%;
   height: 100%;
 }
 .aleja__atras-img{
   width: 100%;
   height: 100%;
   position: relative;
  
 }
 .landing__carac{
   align-content: center;
   position: relative;
   display: block;
   justify-content: space-around; 
   
 }
 .landing__carac-uno, .landing__carac-dos, .landing__carac-tres{
    width: 100%;

    background-image: url('./imagenes/primero.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    height: 200px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
 }

 .landing__carac-dos{
  background-image: url('./imagenes/segundo.png');
}
.landing__carac-tres{
  background-image: url('./imagenes/tercero.png');
}

 .landing__carac-text{
   position: relative;
   margin: auto;
   text-align: center;
   font-family: Anton Regular;
   color: #ffffff;
 }

 .landing__galeria{
   width: 100%;
   height: 500px;
  display: flex;
  justify-content: center; 

}

.landing__galeria-fotos{
  display: flex;
  height: 100%;;
   width:50%; 
   /*align-content: center;*/
   background-color: #CC98A1;

}
.landing__galeria-foto{
width: 100px;
height: 100px;
}

.landing__galeria-mostrar{
height: 100%;
width: 50%;
background-color: #ffffff;
}

.landing__interaccion-fondo{
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to right, rgb(250, 198, 27), rgb(255, 255, 255));

}




